<h1>Temperatures</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<h1>Rails ActionCable example</h1>

<ul id="temperatures">

    <li><%= @temperatures.first.value %></li>
    <li><%= @temperatures.last.value %></li>
    
</ul>



<h2> Device 1 <h2>
<div id='hello'>
      
      <app></app>
</div>
