<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Rails ActionCable example</h1>

<ul id="temperatures">

    <li><%= @temperatures.first.value %></li>
    
</ul>




<div id='hello'>
      {{message}}
      <app></app>
</div>
